
* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 1.2;
}

.container {
  margin: 0 auto;
  width: 420px;
	background-color: #dadada
}

nav {
  margin: 0 auto;
  padding: 10px 15px 15px 15px;
  background-color: black;
	padding: 10px;
}

h1 {
font-size: 2em;
font-weight: bold;
}

h3 {
font-size: 1.3em;
font-weight: bold;
}

.restaurant-list {
	clear: both;
  background-color: #E0E0E0;
}

.arrow {
	float: right;
	padding-top: 15px;
}

.location {
	clear: both;
	height: 60px;
	padding: 10px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #828282
}

.location:hover {
	background-color: #bdbdbd;
}

.content {
	float: left;
}
